@import url(https://fonts.google.com/specimen/Source+Code+Pro);
@import url(https://fonts.google.com/specimen/Tinos);
@import url(https://fonts.google.com/specimen/Roboto);

h1, h2, h3 {
  font-family: "Roboto", serif;
}
.title-slide h1 {
  font-family: 'Roboto', bold;
}

p {
  font-family: "Roboto"
}

.qrcode {
  position: absolute;
  top: 270px;
  left: 120px;
  width: 250px;
  height: 250px;
}

.title-slide {
  
  background-image: url(../img/logo-hs-os-kompakt.jpg), url(../img/logo-it-report.png);
  background-position: right bottom, left bottom;
	background-size: 32%;
	padding-right: 100px;
	margin-right:100px;
	/*
	background-bottom: 1000px;
	background-origin: content-box;
	box-shadow:  0 55px 0 #fff;
  */
  background-color:white;
  
}

.bottom {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.bottom-left {
  postion: absolute;
  bottom: 10%;
  left: 10%;
}

.title-slide h2 {
  font-size: 220%;
}

.title-slide h3 {
  font-size: 130%;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  font-family: 'Roboto', serif;
  font-weight: normal;
  color:black;
  text-shadow:  none;
  text-align:center;
}


.small{
  font-size=50%;
}

.large-code { 
  font-size: 190%;
  font-family:'Source Code Pro';
}

.very-large {
  font-size:300%;
}

.code{
  font-family:'Source Code Pro';
}

.small-code { 
  font-size: 130%;
  font-family:'Source Code Pro';
}

.code-blue{color:rgb(92, 194, 252)}
.code-orange{color:rgb(250, 145, 38)}
.code-green{color:rgb(101, 215, 68)}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(2n) {
	background:none; 
}

.remark-slide table {
	margin: auto;
	border-top: 0 solid #666;
	border-bottom: 0 solid #666;
}

.remark-slide-content:after {
    position: center;
    bottom: 5px;
    right: 35px;
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/logo-hs-os-kompakt.jpg");
}

.black {
  color: #000000;
}
.red {
  color:#cc0000;
}

.balck {
  color:black;
}

.pull-left-wide{
  float: left;
  font-size:70%;
  width: 80%;
  display: inline-block;
}
